*{
    margin:0;
    padding:0;
    font-family:'Poppins',sans-serif;
    box-sizing:border-box;
}
body{
    background: #444142;
    color: #f5eceb;
}

#header{
    width: 100%;  /* size of the top row*/
    height: 100vh;
    /* overflow:hidden */
    max-width: 100%; /* Set the maximum width of the div */
    margin: 0 auto;
    /* display: inline-block; */
    /* background-image: ; no background for now please */
    /* background-size: cover; */
    /* background-position: ; */
}
.container{
    padding: 10px 7%;
    max-width: 100%; /* Set the maximum width of the div */
    margin: 0 auto;
    /* overflow:hidden */
}
.container-header{
    
    /* padding: 10px 7%; */
    /* float: left; */
    /* width:100%; Adjust the width as needed
    height: 00%; /* Adjust the height as needed */
    overflow: hidden;
} 

nav{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width:  140px;
    padding-left: 40px;
    padding-top: 40px;
}

nav ul li{
    
    display: inline-block;
    list-style: none;
    margin:10px 50px;
}

nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 25px;
    position: relative;
}

.header-text{
    display: inline-block;
    padding: 10px 7%;
    margin-top: 10%;
    font-size: 30px;
}
.block-header img{
    display: inline-block;
    vertical-align: middle; /* Align them vertically in the middle if needed */
    margin-right: 10px;
    width: 50px;
    height: 50px;
    padding-bottom: 2px;
    transition: filter 0.8s ease-in-out, transform 0.8s ease-in-out;
}
.block-header img:hover{

    display: inline-block;
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    
    filter: invert(100%) sepia(1%) saturate(21%) hue-rotate(71deg) brightness(106%) contrast(100%);
    /* border-radius: 20px; */
    /* max-width: 100%; Set the maximum width of the div */
    /* margin: 0 auto; */
    
    /* filter: invert(45%) sepia(24%) saturate(1473%) hue-rotate(171deg) brightness(103%) contrast(81%); */
    
}
.block-header-L img{
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 45px;
    transition: filter 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.block-header-L img:hover{
    /* transform-origin: center; */
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    display: inline-block;



    filter: invert(46%) sepia(80%) saturate(371%) hue-rotate(166deg) brightness(97%) contrast(83%);
   
   
}

.block-header-E  img{
    transform-origin: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    transition: filter 0.8s ease-in-out, transform 0.8s ease-in-out;
    margin-left: 10px;
    margin-top: 5px;
}
.block-header-E img:hover{
    /* transform-origin: center; */
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    display: inline-block;

    filter: invert(58%) sepia(35%) saturate(3750%) hue-rotate(326deg) brightness(86%) contrast(92%);
   
   
}

.block-header-L img,.block-header-E img
.block-header img {
    margin: 20px;
    width: 50px; /* Set the width of the images */
    height: auto; /* Maintain aspect ratio */
}

.row-header{
    display: flex;
    align-items: center;
    
}
.about-col-1-header{
    flex-basis: 35%;
}
.about-col-1-header img{
   width: 100%;
   border-radius: 15px;
}

.about-col-2-header{
    flex-basis: 50%;
    
}


.block-header p{
    font-size: 14px;
    align-items: center;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text p span{
    color: rgb(235, 236, 241);
}
.imageheader{
    /* vertical-align:top; */
    display: inline-block;
    padding: 10px 10%;
    width:  600px;
    
    /* float: left; */
}

.eye{
    margin: auto;
    /* background:#0a632c; */
  }
  .pupil{
    position:relative;
    /* transform:  rotate(390deg); */
    transform-origin: 20px center;
  }
/* ------------------skills----------------- */
#about{
    
    flex-grow: 0;
    flex-shrink: 0;
    padding: 500px 0;
    color:aquamarine;
    
}
.row{
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
   width: 100%;
   border-radius: 15px;
}

.about-col-2{
    flex-basis: 50%;
    
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.block {
    width: 60px;
    height: 60px;
    margin: 10px;
    display: inline-block;
    /* background: #ffffff; */
    
  }

  .block:hover {
    width: 60px;
    height: 60px;
    margin: 10px;
    display: inline-block;
    /* background: #ffffff; */
    filter: invert(46%) sepia(80%) saturate(371%) hue-rotate(166deg) brightness(97%) contrast(83%);
  }

  .about-col-2 img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
 }
 /* ------------------Work experience----------------- */
 #services{
    padding: 300px 20px;
 }
 .services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    margin-top: 50px;
    grid-gap: 100px;
 }
.services-list div{
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 300px;
    padding: 50px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}


.services-list div:hover{
    background: #5800cc;
    transform: translateY(-10px);
}
/* ------------------Education----------------- */
#Education{
    padding: 300px 0;
  
 }
 .Education-list{
    margin-left: -100px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(1fr,250px));
    margin-top: 50px;
    grid-gap: 100px;
    

 }

.Education-list div{
    /* background-color: rgb(0, 0, 0); */
    width: 1000px;
    height: 300px;
    padding: 50px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 10px;
    border-right: 10px;
     display: inline-block;
    /* transition: background 0.5s, transform 0.5s; */
 
}
.Education-list div img{
    
    /* display: inline-block; */
    margin: 0px 40px;
    float: left;
 }
.Education-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
    /* float: left; */
    text-align: center;
}
.Education-list div p{
    text-align: center;
    /* font-size: 30px; */
    font-weight: 500;
    margin-bottom: 10px;
    margin: 0px -170px;
    /* float:none */
    /* float: left; */
}
.Education-list div p span{
    /* text-align: center; */
    /* font-size: 30px; */
    /* color: #5800cc; */
    padding-right: 70px;
    /* padding: 100px; */
   
 
    /* margin: 0px 100px; */
    /* float:none */
    /* float: left; */
}

/* .Education-list div:hover{
    background: #5800cc;
    transform: translateY(-10px);
} */